/.env
/node_modules
/package-lock.json
/client/node_modules
/client/package-lock.json
/client/.env
/server/node_modules
/server/package-lock.json
/server/.env
/admin/node_modules
/admin/package-lock.json
/admin/.env